body {
	background:#3e4147;
	margin-top:50px;
	font: 15px "Trebuchet MS";
	color:#c0c0c0;
}

h1 {
	font-size:40px;
	margin:0px;
	text-transform:uppercase;
	margin-top:20px;
	color:#f2f2f2;
}

h2 {
	font-size:25px;
	margin:0px;
	margin-top:50px;
	color:#f2f2f2;
}

p {
	width:100%;
}

.wrapper {
	margin-top: 40pt;
	margin-bottom: 40pt;
}

.map {
	background:transparent;
	float:left;
	width:520px;
	height:500px;
}

.graphBox {
	margin-left:30px;
	float: left;
	max-height: 95%;
}

.graphBox canvas {
	height: 100%;
}

#controls > div {
	margin-top: 30px;
}

#buttons {
	margin: 20px 0px 10px 0px;
}

#info {
	margin: 20px 0px 0px 30px;
}

#angles {
	margin: 0px 0px 20px 0px;
}

#graph-info h5 {
	float: left;
}

#graph-info img {
	width: 20px;
	margin-top: 3px;
	margin-left: 20px
}

.selection-btn {
	padding: 5px;
}

.selection-btn img {
	width: 40px;
}

.right {
	float:left;
	margin: 0px 0px 0px 60px;
	width: 9%;
}

.status {
	height:100px;
}



.date {
	text-align:right;
}


button {
	 background: none repeat scroll 0 0 transparent;
	 border: medium none;
	 border-spacing: 0;
	 color: #26589F;
	 font-family: 'PT Sans Narrow',sans-serif;
	 font-size: 16px;
	 font-weight: normal;
	 line-height: 1.42rem;
	 list-style: none outside none;
	 margin: 0;
	 padding: 0;
	 text-align: left;
	 text-decoration: none;
	 text-indent: 0;
	 background: #c0c0c009;
	 border: #8883 2px solid;
	 color: #fff;
	 margin: 0px 10px 0px 0px;
	 padding:0px 5px;
	 font-weight: 700;
}

button:hover {
	cursor:pointer;
	background: #c0c0c011;
}

path:hover {
	cursor:pointer;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin-top: 10rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
	text-align: -webkit-center;
	text-align: -moz-center;
}